{% extends 'mainapp/posts.html' %}
{% load crispy_forms_tags %}

{% block content %}

<style>
    body {
        padding-top: 56px;
    }
</style>
    <hr>
    <h4 class="text-center">{{ post.title }}</h4>
    <small>Published at: {{ post.created_at|date:"Y-m-d" }}</small>
    <br><br>
    <p>{{ post.content|safe }}</p>
    <hr>
    <div class="row" id="comments-list">
        {% for comment in post.comments.all %}
            <div class="col-md-12 mt-3 mb-3">
                <p><strong>{{ comment.author.username }}</strong> | <small>comment left at:{{ comment.created_at|date:"Y-m-d H:i" }}</small></p>
                <p>{{ comment.text }}</p>
            </div>
        {% endfor %}
    </div>
    <hr>
    {% if request.user.is_authenticated %}
    <form action="{% url 'comment-create' %}" method="POST">
        {% csrf_token %}
        {{ form|crispy }}
        <br>
    <input class="btn btn-primary" type="submit" id="send-comment" value="Send">
    </form>
    {% else %}
        <p class="text-center">Sign in to leave the comment</p>
        <p class="text-center">
            <button class="btn btn-primary btn-block"><a class="nav-link text-dark" href="{% url 'sign_in' %}">Sign in</a></button>
        </p>
    {% endif %}

{% endblock content %}

{% block js %}
<script>
    const commentsSocket = new WebSocket(
        'ws://'
        + window.location.host
        + '/posts/'
        + "{{ post.id }}"
        + '/'
    );
    commentsSocket.onmessage = function(e) {
        const data = JSON.parse(e.data);
        commentsList = document.getElementById('comments-list')
        commentsList.insertAdjacentHTML(
            'beforeend',
            '<div class="col-md-12 mt-3 mb-3">\n' +
            '<p><strong>' + data['message']['author'] + '</strong> | <small>Comment left at:' + data['message']['created_at'] + '</small></p>\n' +
            '<p>' + data['message']['text'] + '</p>\n' +
            '</div>'
        )
    };
    document.querySelector('#send-comment').onclick = function(e) {
        e.preventDefault()
        const messageInputDom = document.querySelector('#id_text');
        const text = messageInputDom.value;
        const delayInputDom = document.querySelector('#id_delay');
        const delay = delayInputDom.value
        commentsSocket.send(JSON.stringify({
            'text': text,
            'delay': delay
        }));
        messageInputDom.value = '';
        delayInputDom.value = '';
    };


</script>
{% endblock js %}